html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
    line-height: 1.5;
}

body {
    font-size: 14px;
    color: #72777a;
    letter-spacing: .2px;
    overflow-x: hidden;
    margin: 0;
    font-weight: 400;
    text-align: left;
    background-color: #fff;
}

body, html, html a {
    -webkit-font-smoothing: antialiased;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.page-container {
    max-width: 780px;
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.0625);
}

.header {
    background-color: #03a9f4;
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.header__time{
    margin-left: auto;
    font-size: 24px;
    font-weight: 500;
}

.header__date {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.live {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,.1);
    margin-right: 5px;
}

.live.start {
    background-color: #00ff66;
    -webkit-animation: led .8s infinite;
    -moz-animation: led .8s infinite;
    -ms-animation: led .8s infinite;
    -o-animation: led .8s infinite;
    animation: led .8s infinite;
}

@keyframes led {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

.P20 {
    padding: 20px;
}

.overflow-auto {
    overflow: auto;
}



/* TABLE CSS */
.tickerTable {
    font-size: .875rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 64rem;
}

.tickerTable__th {
    border-bottom: rgba(0, 0, 0, .2) solid 1px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    padding: 1rem;
    background: #fff;
}

.tickerTable__td {
    padding: 0.5rem 1rem;
    width: 100%;
    border-bottom: rgba(142, 141, 141, 0.2) solid 1px;
}

.isUp {
    color: #4caf50!important;
}

.isDown {
    color: #f44336!important;
}

.font-bold {
    font-weight: bold;
    text-transform: uppercase;
}
